[submodule "source/lib/needsharebutton"]
	path = source/lib/needsharebutton
	url = https://github.com/theme-next/theme-next-needmoreshare2
[submodule "source/lib/jquery_lazyload"]
	path = source/lib/jquery_lazyload
	url = https://github.com/theme-next/theme-next-jquery-lazyload
[submodule "source/lib/canvas-nest"]
	path = source/lib/canvas-nest
	url = https://github.com/theme-next/theme-next-canvas-nest
[submodule "source/lib/three"]
	path = source/lib/three
	url = https://github.com/theme-next/theme-next-three
