// Custom styles.
.header {
  background-image: url("https://ws1.sinaimg.cn/large/694830ebgy1fh3pyd05klj21kw0f2dy2.jpg");
}
//.header-inner {
//  background-image: url("https://ws1.sinaimg.cn/large/694830ebgy1fh3pyd05klj21kw0f2dy2.jpg");
//}

//.site-meta {
//  background-image: url("https://ws1.sinaimg.cn/large/694830ebgy1fh3pyd05klj21kw0f2dy2.jpg");
//}
.menu-item-active a {
  background: #f9f9f973;
}

.menu-item-active a, .menu .menu-item a:hover, .menu .menu-item span.exturl:hover {
    background: #0c0c0b47;
    border-bottom-color: #fff;
}

.site-title {
    display: inline-block;
    vertical-align: top;
    line-height: 36px;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    color: #0808088f;
}

.site-subtitle {
    margin-top: 10px;
    font-size: 13px;
    color: #08080854;
}

.header-inner {
  background-image: url("/images/colorful2.jpg");
}
.site-meta {
  background-image: url("/images/colorful2.jpg");
}
